.menu{
    width: 100%;
    background: mediumblue;
    list-style: none;
    margin:0%;
    padding:0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;

}

.menu li{
    display:inline-block;

}

.menu li a{
    padding: 10px 20px;
    display:inline-block;
    color:white;
}

.menu li a:hover{
    background:rgb(179, 201, 241);
    color:black;
}

